.ThirdSection {
    margin-right: -100px;
    margin-left: -8px;
    margin-top: -20px;
    background: url("../images/fulls/03.jpg") no-repeat center top;
    height: 800px;
    background-size: cover;
}

.ThirdSection>div {
    background: white;
    position: absolute;
    right: 0;
    margin-top: 280px;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 510px;
    h2 {
        padding-left: 19px;
        font-size: 2.25em;
    }
    p {
        padding-left: 19px;
        color: $NavLinkColor;
    }
}