.FirstSection {
  position: fixed;
  background: white;
  top: 0px;
  margin-left: -10px;
  width: 100%; }
  .FirstSection h1 {
    font-size: 17px; }
  .FirstSection nav {
    position: relative;
    width: 100%;
    height: 50px; }
    .FirstSection nav ul {
      list-style: none;
      position: absolute;
      right: 0;
      margin-top: 0px;
      margin-bottom: 0px; }
      .FirstSection nav ul li {
        display: inline-block;
        margin-right: 13px;
        margin-left: 13px; }
        .FirstSection nav ul li a {
          color: #6A6D7c;
          display: block;
          padding: 6px 13px;
          font-size: 17px;
          text-decoration: none;
          transition: all ease 1s;
          font-weight: bold; }
          .FirstSection nav ul li a:hover {
            color: #9C969B; }

.FirstBox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

.InsideBox {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex-basis: 50%; }

.InsideBox > h1 {
  padding-right: 650px; }

.SecondSection {
  background: url("../images/intro.jpg") no-repeat center top;
  height: 800px;
  background-size: cover;
  margin-right: -100px;
  margin-left: -8px; }
  .SecondSection header h2 {
    font-size: 4.25em;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 350px;
    margin-bottom: 0px; }
  .SecondSection header p {
    text-align: center;
    font-size: 19px;
    color: white;
    padding: 0px 370px;
    font-weight: 400; }
    .SecondSection header p a {
      color: white;
      letter-spacing: 2px;
      font-size: 19px;
      text-transform: uppercase; }

.ThirdSection {
  margin-right: -100px;
  margin-left: -8px;
  margin-top: -20px;
  background: url("../images/fulls/03.jpg") no-repeat center top;
  height: 800px;
  background-size: cover; }

.ThirdSection > div {
  background: white;
  position: absolute;
  right: 0;
  margin-top: 280px;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 510px; }
  .ThirdSection > div h2 {
    padding-left: 19px;
    font-size: 2.25em; }
  .ThirdSection > div p {
    padding-left: 19px;
    color: #6A6D7c; }

.FourthSection {
  margin-right: -100px;
  margin-left: -8px;
  margin-top: -20px;
  background: url("../images/fulls/01.jpg") no-repeat center top;
  height: 800px;
  background-size: cover; }

.FourthSection > div {
  background: white;
  position: absolute;
  left: 0;
  margin-top: 280px;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 510px; }
  .FourthSection > div h2 {
    padding-left: 19px;
    font-size: 2.25em; }
  .FourthSection > div p {
    padding-left: 19px;
    color: #6A6D7c; }

.Box {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  height: 800px;
  justify-content: center;
  background: #f3f5f8; }

.InsideBox2 {
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  padding: 0px 300px; }

body {
  font-family: "Source Sans Pro", sans-serif; }

.El1 {
  order: 1; }

.El2 {
  order: 2; }
