$MainFont:'Source Sans Pro';
$NavColor:white;
$NavLinkColor:#6A6D7c;
$NavColorHover:#9C969B;
$SectionContactColor:#F5F6F7;
@import 'components/PrimerSeccion';
@import 'components/SegundaSeccion';
@import 'components/TerceraSeccion';
@import 'components/CuartaSeccion';
@import 'components/QuintaSeccion';
body {
    font-family: $MainFont, sans-serif;
}

.El1 {
    order: 1;
}

.El2 {
    order: 2;
}